h1.title,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #108baa;
    font-weight: 600;
}

.content strong {
    color: rgb(1, 110, 1);
}

.content img {
    max-width: 80%;
    display: block;
    margin: auto;
    border-style: solid;
    border-color: rgb(205, 205, 205);
    border-width: 1px;
    box-shadow: 8px 4px 4px gray;
}

h1.title {
    margin-top: 1.5rem;
}

.article-meta .level-left {
    max-width: 100%;
    flex-wrap: wrap;
    row-gap: 8px;
}

.article-meta .level-item {
    background-color: #f9f7f7;
    border-left: #55e9bc solid 4px;
    padding: 0 0.5rem;
    white-space: nowrap;
}

.level.is-mobile .level-item:not(.is-narrow) {
    flex-grow: unset;
}
